@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.page {
  display: flex;
  height: 100vh;
  width: auto;
  /* align-items: center; */
  /* margin-top: 30px; */
  justify-content: start;
  font-size: 3rem;
  padding-top: 120px;
}
.m {
  top: 0;
  position: relative;
  height: 200px;
  /* margin-top: 30px; */
}

.navbar {
  position: relative;
  background-color: #f3f2f1;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header {
  position: relative;
  background-color: #5fbca2;
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  background: none;
}

.nav-menu {
  background-color: #f3f2f1;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 60px;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #edebe9;
}

.nav-menu-item {
  width: 100%;
  padding-left: 0%;
}

.navbar-toggle {
  background-color: #f3f2f1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fix {
  position: fixed;
  width: 100%;
}

.icon {
  left: 0;
}

.LoginPage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #dbf0ea;
  flex-direction: column;
}

.img {
  height: auto;
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.loginButton {
  background-color: #007dd9;
  color: #fff;
  font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final,
    Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial,
    sans-serif;
}
.loginButton:hover {
  background-color: #0068b3;
  color: #fff;
}

.textLogo {
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  margin-left: 16px;
  font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final,
    Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial,
    sans-serif;
}

.avatar {
  margin-top: 2px;
}

.avatar-img {
  object-fit: cover;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.dropbtn {
  background-color: #5fbca2;
  color: white;
  padding-left: 16px;
  font-size: 16px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
  display: none;
  position: absolute;
  background-color: #5fbca2;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content p {
  color: white;
  padding-top: 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mail-count {
  color: #5fbca2;
  margin-left: auto;
}
